<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_mascota"
        android:label="App Mascotas"
        android:roundIcon="@drawable/logo_mascota"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSignup"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- ACTIVIDADES DUEÑO -->

        <activity android:name=".actividadesDueño.Signup_Form" />
        <activity android:name=".actividadesDueño.Mascotas_Form" />
        <activity android:name=".actividadesDueño.RegistroMascotaActivity" />
        <activity android:name=".actividadesDueño.BotonesHistoriasdeUsuario" />
        <activity android:name=".actividadesVeterinario.AgregarDatosHistoriaMedica" />
        <activity android:name=".actividadesDueño.HistorialClinico" />
        <activity android:name=".actividadesDueño.ListaComprasActivity" />
        <activity android:name=".actividadesVeterinario.EnfermedadesCronicasActivity" />
        <activity android:name=".actividadesDueño.RestriccionesMascotaActivity" />
        <activity android:name=".actividadesVeterinario.AlergiasMascotaActivity" />
        <activity android:name=".actividadesDueño.NotaMascotaActivity" />
        <activity android:name=".actividadesDueño.AgregarGasto" />
        <activity android:name=".actividadesDueño.ComidaMascotaActivity"/>
        <activity android:name=".actividadesDueño.ObtenerUbicacion"/>
        <activity android:name=".actividadesDueño.RecordatoriosAlimentacion"/>
        <activity android:name=".actividadesDueño.PaseoMascotaActivity"/>
        <activity android:name=".actividadesDueño.VerRecorridoActivity"/>


        <!-- ACTIVIDADES VETERINARIO -->

        <activity android:name=".actividadesVeterinario.DueñosTodos" />
        <activity android:name=".actividadesVeterinario.BotonesVeterinario" />
        <activity android:name=".actividadesVeterinario.Mascotas_vistaVeterinario" />
        <activity android:name=".actividadesVeterinario.PerfilMascotaActivity" />

        <!-- ACTIVIDADES CUIDADOR -->
        <activity android:name=".actividadesCuidador.DueñosTodosCuidador" />
        <activity android:name=".actividadesCuidador.BotonesCuidador" />
        <activity android:name=".actividadesCuidador.MascotasVistaCuidador"/>


        <!-- Actividad de login (Login_Form) -->
        <activity
            android:name=".actividadesDueño.Login_Form"
            android:exported="true"> <!-- Mantén esto si es la actividad principal con intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".actividadesDueño.RecordatoriosAlimentacion$AlarmReceiver" android:enabled="true" android:exported="false" />

    </application>

</manifest>
